[[source]]
#url = "https://pypi.org/simple"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
amaranth = "*"
cocotb = "*"
cocotbext-axi = "*"
riscv-model = "*"

[dev-packages]

[requires]
python_version = "3.10"
