[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amaranth = "*"
riscv-model = "*"
amaranth-soc = {editable = true, git = "https://github.com/amaranth-lang/amaranth-soc"}
amaranth-stdio = {editable = true, git = "https://github.com/amaranth-lang/amaranth-stdio"}
markupsafe = "==2.0.1"

[dev-packages]
pytest = "*"
rich = "*"

[requires]
python_version = "3.10"
