[[source]]
#url = "https://pypi.org/simple"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
amaranth = "*"
riscv-model = "*"
amaranth-soc = {editable = true, git = "https://github.com/amaranth-lang/amaranth-soc"}
amaranth-stdio = {editable = true, git = "https://github.com/amaranth-lang/amaranth-stdio"}
jtagtap = {editable = true, git = "https://github.com/Jimx-/jtagtap"}

[dev-packages]

[requires]
python_version = "3.10"
